/* 
    RESET
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/
.box {
    height: 200px;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.box.blue {
    background-color: blue;
}

.box.green {
    background-color: green;
}